.game-area {
    margin: 0 auto;
    width: 500px;
}

svg {
    border: 1px solid #000000;
}

.background {
    fill: #000000;
}

.path {
    fill: #ffffff;
}

.finish {
    fill: #0000A0;
}

.background.pattern {
    fill: url(#pattern);
}
